---

---

<div class="table-head-container">
    <div class="col-title">
        <strong class="client">Name</strong>
        <strong  class="year">Year</strong>
        <strong  class="url">URL</strong>
        <strong  class="about">About</strong>
    </div>

    <strong class="col-preview">⨁</strong>
</div>

<style>

.table-head-container {
    display: flex;
    min-width: 1080px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.col-title {
    flex: 4;
    display: flex;
}

.col-preview {
    opacity: 0;
}

.col-preview, .year, .client {
    flex: 1;
}

.url, .about {
    flex: 2;
}

.url {

}

</style>